<!DOCTYPE html>

@using WebSchedule.Controllers.Other
@using WebSchedule.Controllers.Cookies

<html lang="ru">
<head>
    <title>Информация — Расписание УКСИВТ</title>

    @CookieFiles.ReadCookies(this)

    <style>
        a#infoLink:hover {
            background-size: 100% 2px;
            font-size: 200%;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <main>
        <h1 class="display-4" style="text-align:center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Информация о сайте</h1>

        <h2 class="display-6" style="text-align:center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Общие сведения</h2>
        <div style="font-family:'Georgia Pro'">
            <p>
                Данный сайт предоставляет возможность оперативно и легко узнавать информацию о заменах УКСИВТа.<br />
                <i>В отличие от обычного способа просмотра сайта на предмет замен, здесь Вы сразу увидите итоговое расписание.</i>
            </p>

            <p>
                Для работы данный сайт использует общедоступный API расписания, позволяющий получать как оригинальное расписание, так и замены для него.
            </p>
        </div>

        <h2 class="display-6" style="text-align:center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Правовая информация</h2>
        <div style="font-family:'Georgia Pro'">
            <p>
                Вся правовая информация вынесена на <a asp-controller="Home" asp-action="Privacy" style="color: @CookieFiles.VisualPart.GetLinksColorClass()">отдельную страницу</a>.
            </p>
        </div>

        <h2 class="display-6" style="text-align:center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Предупреждение</h2>
        <div style="font-family:'Georgia Pro'">
            <p>
                Полученное расписание может быть ошибочным. Для получения достоверного результата рекомендуется посетить интересующую Вас страницу несколько раз.<br />
                <i>Кроме того, на официальном сайте замены обычно размещаются с задержкой. Это также следует учитывать при использовании данного сайта.</i>
            </p>
        </div>

        <h2 class="display-6" style="text-align:center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Контакты</h2>
        <div style="font-family:'Georgia Pro'">
            <p>
                Для связи с автором можно использовать следующие контакты:
            </p>

            <ul>
                @{
                    String linksColor = CookieFiles.VisualPart.GetLinksColorClass();
                }

                <li>
                    <a id="infoLink" class="nav-link" style="color: @linksColor"
                       href="mailto:almgal353@gmail.com">Почта автора</a>
                </li>

                <li>
                    <a id="infoLink" class="nav-link" style="color: @linksColor"
                       href="mailto:dayradiation@gmail.com">Вторая почта автора</a>
                </li>

                <li>
                    <a id="infoLink" class="nav-link" style="color: @linksColor"
                       href="https://vk.com/templateprog">ВК автора</a>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>
