<!DOCTYPE html>

@model SearchModel;
@using WebSchedule.Other;
@using WebSchedule.Schedule.Getter

<html lang="ru">
<head>
	<title>Поиск: @Model.Request — Расписание УКСИВТ</title>
</head>

<body>
	<!-- Считываем куки. -->
	@{
		if (!Extensions.CookiesReaded)
		{
			try
			{
				IRequestCookieCollection? cookies = Context.Request.Cookies;

				if (cookies.ContainsKey("UseDataBase"))
				{
					ScheduleApi.UseDataBase = cookies["UseDataBase"] == "on";
				}

				if (cookies.ContainsKey("SelectUnsecure"))
				{
					ScheduleApi.SelectUnsecure = cookies["SelectUnsecure"] == "on";
				}

				if (cookies.ContainsKey("UseDarkTheme"))
				{
					Extensions.UseDarkTheme = cookies["UseDarkTheme"] == "on";
				}
			}

			catch (NullReferenceException)
			{

			}

			Extensions.CookiesReaded = true;
		}
	}

	<h1 class="display-4" style="text-align:center">Поиск</h1>
	<div style="font-family:'Georgia Pro'; text-align:center; margin-top:15px;">
		<form>
			<input id="searchBox" name="groupName" type="search" class="rounded-pill border-primary" style="width:75%;  background-color: @(Extensions.UseDarkTheme ? "rgb(49,69,89)" : "white");
			text-align:center; color: @(Extensions.UseDarkTheme ? "white" : "black"); font-style: italic;" placeholder="Название группы..." value="@Model.Request"/>
			<br/> <br/>

		<button class="btn btn-outline-primary" style="width:25%" type="submit" formmethod="get" asp-controller="Home" asp-action="Search">Искать</button>
		</form>
	</div>

	<h2 id="SearchHeader" class="display-6" style="text-align:center; margin-top:2%;">Результаты поиска</h2>
	@if (Model.Request.Equals("19П-5"))
	{
		<p style="text-align:center; margin-top:25px; font-style:italic;">
			Requiescat In Pace: 19П-5 (2019 — 2022).
		</p>
	}

	else if (Model.Request.Equals(String.Empty))
	{
		<p style="text-align:center; margin-top:25px;">
			Задан пустой поисковый запрос.
		</p>
	}

	else
	{
		foreach (String option in Model.Options)
		{
			<p style="text-align:center">
				<a class="btn btn-outline-primary" style="width:50%" asp-controller="Schedule" asp-action="Day" asp-route-groupName="@option">@option</a>
			</p>
		}
	}
</body>
</html>
