<!DOCTYPE html>

@model SearchModel

@using WebSchedule.Controllers.Other
@using WebSchedule.Controllers.Cookies

<html lang="ru">
<head>
	<title>Поиск: @Model.BaseRequest — Расписание УКСИВТ</title>

	@CookieFiles.ReadCookies(this)
</head>

<body>
	<h1 class="display-4" style="text-align:center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Поиск</h1>
	<div style="font-family:'Georgia Pro'; text-align:center; margin-top:15px;">
		<form>
			<input id="searchBox" name="groupName" type="search" class="rounded-pill border-primary" placeholder="Название группы..." value="@Model.BaseRequest" 
				   style="width:75%; color: @CookieFiles.VisualPart.GetTextColorForPlains(); text-align:center; 
						  background-color: @CookieFiles.VisualPart.GetSearchPanelBackgroundColor(); font-style: italic;"/>
			<br/> <br/>

		<button class="btn btn-outline-primary" style="width:25%" type="submit" formmethod="get" asp-controller="Home" asp-action="Search">Искать</button>
		</form>
	</div>

	<h2 id="SearchHeader" class="display-6" style="text-align:center; margin-top:2%; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Результаты поиска</h2>
	@if (Model.RestInPeace)
	{
		<p style="text-align:center; margin-top:25px; font-style:italic;">
			Requiescat In Pace: 19П-5 (2019 — 2022).
		</p>
	}

	else if (Model.NormalRequest == String.Empty)
	{
		<p style="text-align:center; margin-top:25px; font-size: 2.5em;">
			Задан пустой поисковый запрос... &#128532;
		</p>
	}

	else if (Model.Options.Count < 1)
	{
		<p style="text-align:center; margin-top:25px; font-size: 2.5em;">
			По вашему запросу ничего не найдено... &#128531;
		</p>
	}

	else
	{
		foreach (String? option in Model.Options)
		{
			<p style="text-align:center">
				<a class="btn btn-outline-primary" style="width:50%" asp-controller="Schedule" asp-action="Day" asp-route-groupName="@option">Группа: @option</a>
			</p>
		}
	}
</body>
</html>
