<!DOCTYPE html>

@model ScheduleModel

@using WebSchedule.Controllers.Other
@using WebSchedule.Controllers.Cookies

<html lang="ru">
<head>
	<title>Выбор дня: @Model.GroupName — Расписание УКСИВТ</title>

	@CookieFiles.ReadCookies(this)
</head>

<body>
	<h1 class="display-4" style="text-align:center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">День недели</h1>
	<div style="text-align:center; font-family:'Georgia Pro';">
		<p>
			Остается выбрать день недели для получения итогового расписания.
		</p>
	</div>

	<h2 class="display-6" style="text-align:center; margin-top:3%; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Выбор</h2>
	<div style="text-align:center; font-family:'Georgia Pro';">
		<p>
			Нажмите на интересующий Вас день.
		</p>

		@{
			for (int i = 0; i < 7; i++)
			{
				String name = i.GetDayByIndex();

				<p>
					<a class="btn btn-outline-primary" asp-controller="Schedule" asp-action="Final" asp-route-groupName=@Model.GroupName asp-route-dayIndex=@i>@name</a>
				</p>
			}
		}
	</div>
</body>
</html>
