<!DOCTYPE html>

@model ScheduleModel

@using WebSchedule.Controllers.Other
@using WebSchedule.Controllers.Cookies
@using WebSchedule.Controllers.Schedule.Getter

@using WebSchedule.Models.ScheduleElements

<html lang="ru">
<head>
    <title>@Model.GroupName: @Model.DayId.GetDayByIndex() — Расписание УКСИВТ</title>

    @CookieFiles.ReadCookies(this)
</head>

<body>
    <h1 class="display-4" style="text-align: center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Расписание</h1>
    <div style="text-align: center; font-family: 'Georgia Pro';">
        <p>
            В таблице ниже представлено расписание для текущей группы: @Model.GroupName. <br />
            Выбранный день: @Model.DayId.GetDayByIndex().
        </p>

        <p>
            @{
                String firstPart = "Строки, соответствующие текущей теме — элементы оригинального расписания.";
                String secondPart = "Голубые строки — элементы замен.";

                @firstPart
                <br />
                @secondPart
            }
        </p>
    </div>

    @{
        ScheduleApi apiConnector = new(Model.DayId, Model.GroupName);
        DaySchedule schedule = apiConnector.GetSchedule();

        ChangesOfDay changes = apiConnector.GetChanges();
        String dateString = changes.ChangesDate.HasValue ? changes.ChangesDate.Value.ToString("dd.MM.yyyy!") : "[НЕТ ИНФОРМАЦИИ]";

        // Код для обеспечения кое-какой, но все же работоспособности слияния расписания через БД.
        if (changes.NewLessons.Count > 0)
        {
            schedule = schedule.MergeChanges(changes);
        }

        schedule.Lessons.RemoveAll(lesson => !lesson.CheckHaveValue());

        <!-- Для обеспечения возможности легкого парсинга страницы (ну а вдруг), проставляем везде ID. -->
        <h2 class="display-6" style="text-align: center; color: @CookieFiles.VisualPart.GetTextColorForHeaders();">Расписание на @dateString</h2>
        <table id="ScheduleTable" class="table table-bordered table-hover" style="font-family: 'Georgia Pro'; margin-top: 1%;">
            <thead class="thead @CookieFiles.VisualPart.GetScheduleTableHeadColorClass()">
                <tr>
                    <th>№</th>

                    <th>Название</th>

                    <th>Преподаватель</th>
                    <th>Кабинет</th>

                    <th>Время</th>
                </tr>
            </thead>

            <tbody id="ScheduleTableBody">
                @foreach (Lesson lesson in schedule.Lessons)
                {
                    String elementId = $"Lesson_{schedule.Lessons.IndexOf(lesson)}";
                    String generalColorClass = CookieFiles.VisualPart.GetScheduleElementsColorClass(lesson.LessonChanged);

                    <tr id="@elementId" class="@generalColorClass">
                        <th scope="row" class=@generalColorClass>@lesson.Number</th>

                        <td class=@generalColorClass>@lesson.Name</td>

                        <td class=@generalColorClass>@lesson.Teacher</td>
                        <td class=@generalColorClass>@lesson.Place</td>

                        <td class=@generalColorClass>
                            @{
                                String[] times = lesson.Number.GetTime(schedule.Day.GetIndexByDay(), Model.GroupName).Split("\n");
                            }

                            @foreach (String time in times)
                            {
                                <p>
                                    @time
                                </p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        if (changes.NewLessons.Count == 0)
        {
            String firstPartOfMessage = changes.ChangesFound ? "ВНИМАНИЕ: Замены для указанной группы не обнаружены!" :
            "ВНИМАНИЕ: Файл с заменами для указанной даты не обнаружен!";

            <div class="text-danger" style="text-align: center">
                <p id="ScheduleChangesWarning">
                    @firstPartOfMessage <br />
                    Выведено оригинальное расписание.
                </p>
            </div>
        }

        String declinatedDay, newDateString;
        Int32 previousDay = Model.DayId - 1;
        Int32 nextDay = Model.DayId + 1;

        // Атрибут "hidden" работает не во всех браузерах, поэтому пришлось делать так.
        if (previousDay >= 0)
        {
            // Важно: Надо обработать вторник, потому что в его случае будет "перейти кО вторнику".
            declinatedDay = previousDay.GetDayByIndex().ConvertToOtherDeclination().ToLower();
            newDateString = changes.ChangesDate.HasValue ? changes.ChangesDate.Value.AddDays(-1).ToString("dd.MM.yyyy!") : "[N/A]";

            <div style="text-align:center">
                <p>
                    <a class="btn @CookieFiles.VisualPart.GetButtonsColorClass()" style="min-width:50%" asp-controller="Schedule" asp-action="Final" asp-route-groupName=@Model.GroupName asp-route-dayIndex=@previousDay>
                        &#9668; Перейти к@(previousDay == 1 ? "о" : String.Empty) @declinatedDay (@newDateString) &#9668;
                    </a>
                </p>
            </div>
        }

        <div style="text-align:center">
            <p>
                <a class="btn @CookieFiles.VisualPart.GetButtonsColorClass()" style="min-width:50%" asp-controller="Schedule" asp-action="Day" asp-route-groupName=@Model.GroupName>
                    &#9674; Вернуться к выбору дня &#9674;
                </a>
            </p>
        </div>

        if (nextDay < 7)
        {
            declinatedDay = nextDay.GetDayByIndex().ConvertToOtherDeclination().ToLower();
            newDateString = changes.ChangesDate.HasValue ? changes.ChangesDate.Value.AddDays(1).ToString("dd.MM.yyyy!") : "[N/A]";

            <div style="text-align:center">
                <p>
                    <a class="btn @CookieFiles.VisualPart.GetButtonsColorClass()" style="min-width:50%" asp-controller="Schedule" asp-action="Final" asp-route-groupName=@Model.GroupName asp-route-dayIndex=@nextDay>
                        &#9658; Перейти к@(nextDay == 1 ? "о" : String.Empty) @declinatedDay (@newDateString) &#9658;
                    </a>
                </p>
            </div>
        }
    }
</body>
</html>
